@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 8%);
  color: white;
  font-size: 14px;
  font-family: "Inter", sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem 1.5rem;
  border-radius: 0.5rem;
  background-color: hsl(0, 0%, 12%);
}

.image-holder {
  width: 5rem;
  height: 5rem;
  background-image: url(/public/assets/images/avatar-jessica.jpeg);
  border-radius: 50%;
  background-position: center;
  background-size: cover;
}

.personal-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.personal-info p {
  color: hsl(75, 94%, 57%);
  font-weight: 600;
}

.main-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.btn {
  border: none;
  width: 19rem;
  height: 2.5rem;
  border-radius: 0.4rem;
  background-color: hsl(0, 0%, 20%);
  color: white;
  font-weight: 600;
  transition: background-color 0.5s ease;
}

.btn:hover {
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 8%);
}

.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
